{% load static %}
<!-- Sidebar -->
<nav id="sidebar" aria-label="Main Navigation">
  <!-- Side Header -->
  <div class="bg-header-dark">
    <div class="content-header bg-white-5">
      <!-- Logo -->
      <a class="fw-semibold text-white tracking-wide" href="{% url 'signin' %}">
        <!-- <img class="img-avatar img-avatar48" src="assets/media/photos/logo-2.png" alt=""> -->
        <span class="smini-hidden">
          <span class="opacity-75">APP</span>
        </span>
      </a>
      <!-- END Logo -->

      <!-- Options -->
      <div>
        <!-- Dark Mode -->
        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
        <button type="button" class="btn btn-sm btn-alt-secondary" data-toggle="class-toggle" data-target="#dark-mode-toggler" data-class="far fa" onclick="Dashmix.layout('dark_mode_toggle');">
          <i class="far fa-moon" id="dark-mode-toggler"></i>
        </button>
        <!-- END Dark Mode -->

        <!-- Close Sidebar, Visible only on mobile screens -->
        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
        <button type="button" class="btn btn-sm btn-alt-secondary d-lg-none" data-toggle="layout" data-action="sidebar_close">
          <i class="fa fa-times-circle"></i>
        </button>
        <!-- END Close Sidebar -->
      </div>
      <!-- END Options -->
    </div>
  </div>
  <!-- END Side Header -->

  <!-- Sidebar Scrolling -->
  <div class="js-sidebar-scroll">
    <!-- Side Navigation -->
    <div class="content-side">
      <ul class="nav-main">
        {% for menu in request.session.left_menu %}
          {% if menu.parent_id == None and menu.is_tree == 0 %}
            <li class="nav-main-item">
              <a class="nav-main-link {% if active_menu == menu.alias %}active{% endif %}" href="{{menu.link}}">
                <i class="nav-main-link-icon {{menu.icon}}"></i>
                <span class="nav-main-link-name">{{menu.name}}</span>
              </a>
            </li>
          {% endif %}
          {% if menu.is_tree %}
            <li class="nav-main-item {% if active_menu == menu.alias %}open{% endif %}">
              <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
                <i class="nav-main-link-icon {{menu.icon}}"></i>
                <span class="nav-main-link-name">{{menu.name}}</span>
              </a>
              <ul class="nav-main-submenu">
              {% for submenu in request.session.left_menu %}
                {% if submenu.parent_id == menu.menu_id %}
                  <li class="nav-main-item">
                    <a class="nav-main-link {% if sub_menu == submenu.alias %}active{% endif %}" href="{{submenu.link}}">
                      <i class="nav-main-link-icon {{submenu.icon}}"></i>
                      <span class="nav-main-link-name">{{submenu.name}}</span>
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- END Side Navigation -->
  </div>
  <!-- END Sidebar Scrolling -->
</nav>
<!-- END Sidebar -->