<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Undangan Interview</h1>
    
    <p>
        Halo {{ name_user }}, terimakasih karena anda telah melamar di perusahaan ini.
        anda sudah berhasil melewati tahap 1, yaitu seleksi secara global, dan anda bisa melanjutkan ke tahap 2, yaitu interview di perusahaan kami.
    </p>
    <p>
        Proses interview ini akan dilaksanakan pada :
    </p>
    <table>
        <tr>
            <td>Tanggal</td>
            <td>:</td>
            <td>{{ i_date }}</td>
        </tr>
        <tr>
            <td>Jam</td>
            <td>:</td>
            <td>{{ i_time }}</td>
        </tr>

        
        {% if link != '' %}    
        <tr>
            <td>Link</td>
            <td>:</td>
            <td>{{ link }}</td>
        </tr>
        {% endif %}
        
        
        {% if address != '' %}
        <tr>
            <td>Alamat</td>
            <td>:</td>
            <td>{{ address }}</td>
        </tr>
        {% endif %}
            
    </table>
    
    <p>
        Adapun detail pekerjaan yang anda lamar adalah sebagai berikut :
    </p>
    <table>
        <tr>
            <td>
                Nama Pekerjaan
            </td>
            <td>:</td>
            <td>{{ job_name }}</td>
        </tr>
        <tr>
            <td>
                Posisi Pekerjaan
            </td>
            <td>:</td>
            <td>{{ job_position }}</td>
        </tr>
        <tr>
            <td>
                Jenis Pekerjaan
            </td>
            <td>:</td>
            <td>{{ job_type }}</td>
        </tr>
        <tr>
            <td>
                Penempatan
            </td>
            <td>:</td>
            <td>{{ job_site }}</td>
        </tr>
    </table>
    
    <p>
        dimohon agar saudara dapat hadir tepat waktu
    </p>
    <p>
        terimakasih
    </p>
</body>
</html>