{% extends 'pln/frontend/layout/base_layout.html' %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static '/assets/dashmix/js/plugins/select2/css/select2.min.css' %}">    
{% endblock %}


{% block javascript %}
<script src="{% static '/assets/dashmix/js/plugins/select2/js/select2.full.min.js' %}"></script>
<script>jQuery(function(){ Dashmix.helpers(['select2','notify']); });</script>
<script>
    let base_url = "{{ frontend_url }}"
    $(document).ready(function(){
        $('#provinsi_proyek').change(function () {
            var val_provinsi = $(this).val();
            $.ajax({
                url: base_url + "api/kota-kabupaten?provinsi=" + val_provinsi,
                dataType: "json",
                beforeSend: function(){
                    $("#kota_kabupaten_proyek").empty();
                    $("#kecamatan_proyek").empty();
                    $("#kelurahan_proyek").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kota_kabupaten_proyek').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kota_kabupaten_proyek').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kota_kabupaten_proyek').append('<option value="-">-</option>');
                }
                $("#kota_kabupaten_proyek").trigger("chosen:updated");
                $("#kota_kabupaten_proyek").trigger("liszt:updated");
            });
        });

        $('#kota_kabupaten_proyek').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kecamatan?kota_kabupaten=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kecamatan_proyek").empty();
                    $("#kelurahan_proyek").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kecamatan_proyek').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kecamatan_proyek').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kecamatan_proyek').append('<option value="-">-</option>');
                }
                $("#kecamatan_proyek").trigger("chosen:updated");
                $("#kecamatan_proyek").trigger("liszt:updated");
            });
        });

        $('#kecamatan_proyek').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kelurahan?kecamatan=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kelurahan_proyek").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kelurahan_proyek').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kelurahan_proyek').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kelurahan_proyek').append('<option value="-">-</option>');
                }
                $("#kelurahan_proyek").trigger("chosen:updated");
                $("#kelurahan_proyek").trigger("liszt:updated");
            });
        });

        $('#provinsi_koresponden').change(function () {
            var val_provinsi = $(this).val();
            $.ajax({
                url: base_url + "api/kota-kabupaten?provinsi=" + val_provinsi,
                dataType: "json",
                beforeSend: function(){
                    $("#kota_kabupaten_koresponden").empty();
                    $("#kecamatan_koresponden").empty();
                    $("#kelurahan_koresponden").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kota_kabupaten_koresponden').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kota_kabupaten_koresponden').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kota_kabupaten_koresponden').append('<option value="-">-</option>');
                }
                $("#kota_kabupaten_koresponden").trigger("chosen:updated");
                $("#kota_kabupaten_koresponden").trigger("liszt:updated");
            });
        });

        $('#kota_kabupaten_koresponden').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kecamatan?kota_kabupaten=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kecamatan_koresponden").empty();
                    $("#kelurahan_koresponden").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kecamatan_koresponden').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kecamatan_koresponden').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kecamatan_koresponden').append('<option value="-">-</option>');
                }
                $("#kecamatan_koresponden").trigger("chosen:updated");
                $("#kecamatan_koresponden").trigger("liszt:updated");
            });
        });

        $('#kecamatan_koresponden').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kelurahan?kecamatan=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kelurahan_koresponden").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kelurahan_koresponden').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kelurahan_koresponden').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kelurahan_koresponden').append('<option value="-">-</option>');
                }
                $("#kelurahan_koresponden").trigger("chosen:updated");
                $("#kelurahan_koresponden").trigger("liszt:updated");
            });
        });
    })
</script>    
{% if request.COOKIES.warning_msg %}
    <script>
        $( document ).ready(function() {
            Dashmix.helpers('notify', {type: 'warning', align: 'center', message: '{{ request.COOKIES.warning_msg }}'});
        });
    </script>
{% endif %}
{% if request.COOKIES.success_msg %}
    <script>
        $( document ).ready(function() {
            Dashmix.helpers('notify', {type: 'success', align: 'center', message: '{{ request.COOKIES.success_msg }}'});
        });
        console.log('{{ request.COOKIES.success_msg }}');
    </script>
{% endif %}
{% if request.COOKIES.error_msg %}
    <script>
        $( document ).ready(function() {
            Dashmix.helpers('notify', {type: 'danger', align: 'center', message: '{{ request.COOKIES.error_msg }}'});
        });
    </script>
{% endif %}
{% endblock %}


{% block content %}
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">{{sub_title}}</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Unit</li>
                    <li class="breadcrumb-item active" aria-current="page">Tambah</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->

<!-- Page Content -->
<div class="content">
    <!-- Layouts -->
    <form class="mb-5" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="block block-rounded block-bordered">
        <!-- <div class="block-header block-header-default">
            <h3 class="block-title"></h3>
        </div> -->
        <!-- Data Proyek -->
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">Data Proyek</h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group">
                        <label for="nama_proyek">Nama Proyek <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nama_proyek" name="nama_proyek" placeholder="Nama Proyek .." required>
                    </div>
                    <div class="form-group">
                        <label for="alamat_proyek">Alamat Proyek <span class="text-danger">*</span></label>
                        <textarea class="form-control" name="alamat_proyek" id="alamat_proyek" cols="10" rows="5" required></textarea>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="provinsi_proyek">Provinsi <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="provinsi_proyek" name="provinsi_proyek" style="width: 100%;" data-placeholder="Provinsi .." required>
                                <option></option>
                                {% for prov in provinsi %}
                                    <option value="{{ prov.id }}">{{ prov.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kota_kabupaten_proyek">Kota / Kabupaten <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="kota_kabupaten_proyek" name="kota_kabupaten_proyek" style="width: 100%;" data-placeholder="Kota / Kabupaten .." required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kecamatan_proyek">Kecamatan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="kecamatan_proyek" name="kecamatan_proyek" style="width: 100%;" data-placeholder="Kecamatan.." required>
                                <option></option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kelurahan_proyek">Kelurahan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="kelurahan_proyek" name="kelurahan_proyek" style="width: 100%;" data-placeholder="Kelurahan .." required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="longt">Longitude <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="longt" name="longt" placeholder="Longitude .." required>
                        </div>
                        <div class="col-6">
                            <label for="lat">Latitude <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="lat" name="lat" placeholder="Latitude .." required>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kode_pos_proyek">Kode Pos <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="kode_pos_proyek" name="kode_pos_proyek" placeholder="Kode Pos .." required>
                        </div>
                        <div class="col-6">
                            <label for="jaringan">Jaringan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="jaringan" name="jaringan" style="width: 100%;" data-placeholder="Jaringan .." required>
                                <option></option>
                                <option value="SKTR">SKTR</option>
                                <option value="SUTR">SUTR</option>
                            </select>
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <!-- Data Koresponden -->
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">Korespondensi</h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group">
                        <label for="nama_koresponden">Nama Koresponden <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="nama_koresponden" name="nama_koresponden" placeholder="Nama Koresponden .." required>
                    </div>
                    <div class="form-group">
                        <label for="alamat_koresponden">Alamat Koresponden <span class="text-danger">*</span></label>
                        <textarea class="form-control" name="alamat_koresponden" id="alamat_koresponden" cols="10" rows="5" required></textarea>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="provinsi_koresponden">Provinsi <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="provinsi_koresponden" name="provinsi_koresponden" style="width: 100%;" data-placeholder="Provinsi .." required>
                                <option></option>
                                {% for prov in provinsi %}
                                    <option value="{{ prov.id }}">{{ prov.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kota_kabupaten_koresponden">Kota / Kabupaten <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="kota_kabupaten_koresponden" name="kota_kabupaten_koresponden" style="width: 100%;" data-placeholder="Kota / Kabupaten .." required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kecamatan_koresponden">Kecamatan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="kecamatan_koresponden" name="kecamatan_koresponden" style="width: 100%;" data-placeholder="Kecamatan.." required>
                                <option></option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kelurahan_koresponden">Kelurahan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="kelurahan_koresponden" name="kelurahan_koresponden" style="width: 100%;" data-placeholder="Kelurahan .." required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kode_pos_koresponden">Kode Pos <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="kode_pos_koresponden" name="kode_pos_koresponden" placeholder="Kode Pos .." required>
                        </div>
                        <div class="col-6">
                            <label for="email">Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email .." required>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="no_hp">Nomor HP <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="no_hp" name="no_hp" placeholder="Nomor HP .." required>
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <!-- Data Unit -->
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">Unit</h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="unit">Unit Peruntukan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="unit" name="unit" style="width: 100%;" data-placeholder="Unit .." required>
                                <option></option>
                                {% for unit in unit_list %}
                                    <option value="{{ unit.id }}">{{ unit.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <!-- Data Lampiran -->
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">Lampiran</h2>
            <small>
                <span class="text-danger"><i>* file upload harus berbentuk pdf dan maximal upload 5mb</i></span>
            </small>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label>Izin Pembangunan <span class="text-danger">*</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_izin_pembangunan" name="file_izin_pembangunan" accept="application/pdf" required>
                                <label class="custom-file-label" for="file_izin_pembangunan">Choose file</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Bukti Akad Pembelian <span class="text-danger">*</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_bukti_akad" name="file_bukti_akad" accept="application/pdf" required>
                                <label class="custom-file-label" for="file_bukti_akad">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label>Salinan KTP Koresponden <span class="text-danger">*</span></label> 
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_ktp_koresponden" name="file_ktp_koresponden" accept="application/pdf" required>
                                <label class="custom-file-label" for="file_ktp_koresponden">Choose file</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Surat Kuasa (Jika Dikuasakan)</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_surat_kuasa" name="file_surat_kuasa" accept="application/pdf">
                                <label class="custom-file-label" for="file_surat_kuasa">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label>Surat Permohonan <span class="text-danger">*</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_surat_permohonan" name="file_surat_permohonan" accept="application/pdf" required>
                                <label class="custom-file-label" for="file_surat_permohonan">Choose file</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Master Plan <span class="text-danger">*</span></label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_master_plan" name="file_master_plan" accept="application/pdf" required>
                                <label class="custom-file-label" for="file_master_plan">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <div class="block-content block-content-full block-content-sm bg-body-light text-right mt-5">
            <button type="submit" class="btn btn-sm btn-info">
                <i class="fa fa-check"></i> Simpan
            </button>
            <button type="submit" class="btn btn-sm btn-info" name="lanjutkan" id="lanjutkan" value="lanjutkan">
                <i class="fa fa-arrow-right"></i> Simpan dan Lanjutkan
            </button>
        </div>
    </div>
    </form>
    <!-- END Layouts -->
</div>
<!-- END Page Content -->
{% endblock content %}
