{% extends 'pln/frontend/layout/base_layout.html' %}

{% load static %}

{% block javascript %}
<!-- Page JS Plugins -->
<script src="{% static '/assets/dashmix/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/assets/dashmix/js/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/assets/dashmix/js/plugins/datatables/buttons/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/assets/dashmix/js/plugins/datatables/buttons/buttons.print.min.js' %}"></script>
<script src="{% static '/assets/dashmix/js/plugins/datatables/buttons/buttons.html5.min.js' %}"></script>
<script src="{% static '/assets/dashmix/js/plugins/datatables/buttons/buttons.html5.min.js' %}"></script>
<script src="{% static '/assets/dashmix/js/plugins/datatables/buttons/buttons.colVis.min.js' %}"></script>

<!-- Page JS Code -->
<!-- <script src="{% static '/assets/dashmix/js/pages/be_tables_datatables.min.js' %}"></script> -->

<script>
    $(function () {
        "use strict";

        $('#permohonanList').DataTable({
            'paging'      : true,
            'lengthChange': false,
            'searching'   : true,
            'autoWidth'   : false,
            'processing': true,
            'serverSide': true,
            'ajax': "{% url 'permohonan_list_ajax' %}",
            'ordering': false
        });
    })
</script>

{% if request.COOKIES.warning_msg %}
    <script>
        $( document ).ready(function() {
            Dashmix.helpers('notify', {type: 'warning', icon: 'fa fa-exclamation mr-1', message: '{{ request.COOKIES.warning_msg }}'});
        });
    </script>
{% endif %}
{% if request.COOKIES.success_msg %}
    <script>
        $( document ).ready(function() {
            Dashmix.helpers('notify', {type: 'success', icon: 'fa fa-check mr-1', message: '{{ request.COOKIES.success_msg }}'});
        });
    </script>
{% endif %}
{% if request.COOKIES.error_msg %}
    <script>
        $( document ).ready(function() {
            Dashmix.helpers('notify', {type: 'danger', icon: 'fa fa-times mr-1', message: '{{ request.COOKIES.error_msg }}'});
        });
    </script>
{% endif %}
{% endblock %}


{% block css %}
<!-- Page JS Plugins CSS -->
<link rel="stylesheet" href="{% static '/assets/dashmix/js/plugins/datatables/dataTables.bootstrap4.css' %}">
<link rel="stylesheet" href="{% static '/assets/dashmix/js/plugins/datatables/buttons-bs4/buttons.bootstrap4.min.css' %}">
{% endblock %}


{% block content %}    
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">{{ sub_title }}</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Permohonan</li>
                    <li class="breadcrumb-item active" aria-current="page">List Permohonan</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->

<!-- Page Content -->
<div class="content">
    <!-- Dynamic Table Full -->
    <div class="block block-rounded block-bordered">
        <div class="block-header block-header-default">
            <h3 class="block-title"></h3>
            <div class="ml-auto">
                <a class="btn btn-block btn-hero-primary" href="{% url 'add_permohonan' %}">
                    <i class="fa fa-fw fa-plus mr-1"></i> Tambah Permohonan
                </a>
            </div>
        </div>
        <div class="block-content block-content-full">
            <table id="permohonanList" class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                    <tr>
                        <th>Nama Proyek</th>
                        <th>Nama Koresponden</th>
                        <th>Email Koresponden</th>
                        <th class="d-none d-sm-table-cell" style="width: 30%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Dynamic Table Full -->
</div>
<!-- END Page Content -->
{% endblock content %}
