{% extends 'pln/frontend/layout/base_layout.html' %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static '/assets/dashmix/js/plugins/select2/css/select2.min.css' %}">    
{% endblock %}


{% block javascript %}
<script src="{% static '/assets/dashmix/js/plugins/select2/js/select2.full.min.js' %}"></script>
<script>jQuery(function(){ Dashmix.helpers(['select2']); });</script>
<script>
    let base_url = "{{ frontend_url }}"
    $(document).ready(function(){
        $('#provinsi_proyek').change(function () {
            var val_provinsi = $(this).val();
            $.ajax({
                url: base_url + "api/kota-kabupaten?provinsi=" + val_provinsi,
                dataType: "json",
                beforeSend: function(){
                    $("#kota_kabupaten_proyek").empty();
                    $("#kecamatan_proyek").empty();
                    $("#kelurahan_proyek").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kota_kabupaten_proyek').append('<option value=""></option>');
                    $.map( data, function( item ) {
                        $('#kota_kabupaten_proyek').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kota_kabupaten_proyek').append('<option value="-">-</option>');
                }
                $("#kota_kabupaten_proyek").trigger("chosen:updated");
                $("#kota_kabupaten_proyek").trigger("liszt:updated");
            });
        });

        $('#kota_kabupaten_proyek').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kecamatan?kota_kabupaten=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kecamatan_proyek").empty();
                    $("#kelurahan_proyek").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kecamatan_proyek').append('<option value=""></option>');
                    $.map( data, function( item ) {
                        $('#kecamatan_proyek').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kecamatan_proyek').append('<option value="-">-</option>');
                }
                $("#kecamatan_proyek").trigger("chosen:updated");
                $("#kecamatan_proyek").trigger("liszt:updated");
            });
        });

        $('#kecamatan_proyek').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kelurahan?kecamatan=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kelurahan_proyek").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kelurahan_proyek').append('<option value=""></option>');
                    $.map( data, function( item ) {
                        $('#kelurahan_proyek').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kelurahan_proyek').append('<option value="-">-</option>');
                }
                $("#kelurahan_proyek").trigger("chosen:updated");
                $("#kelurahan_proyek").trigger("liszt:updated");
            });
        });

        $('#provinsi_koresponden').change(function () {
            var val_provinsi = $(this).val();
            $.ajax({
                url: base_url + "api/kota-kabupaten?provinsi=" + val_provinsi,
                dataType: "json",
                beforeSend: function(){
                    $("#kota_kabupaten_koresponden").empty();
                    $("#kecamatan_koresponden").empty();
                    $("#kelurahan_koresponden").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kota_kabupaten_koresponden').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kota_kabupaten_koresponden').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kota_kabupaten_koresponden').append('<option value="-">-</option>');
                }
                $("#kota_kabupaten_koresponden").trigger("chosen:updated");
                $("#kota_kabupaten_koresponden").trigger("liszt:updated");
            });
        });

        $('#kota_kabupaten_koresponden').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kecamatan?kota_kabupaten=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kecamatan_koresponden").empty();
                    $("#kelurahan_koresponden").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kecamatan_koresponden').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kecamatan_koresponden').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kecamatan_koresponden').append('<option value="-">-</option>');
                }
                $("#kecamatan_koresponden").trigger("chosen:updated");
                $("#kecamatan_koresponden").trigger("liszt:updated");
            });
        });

        $('#kecamatan_koresponden').change(function () {
            var val_kotkab = $(this).val();
            $.ajax({
                url: base_url + "api/kelurahan?kecamatan=" + val_kotkab,
                dataType: "json",
                beforeSend: function(){
                    $("#kelurahan_koresponden").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $('#kelurahan_koresponden').append('<option></option>');
                    $.map( data, function( item ) {
                        $('#kelurahan_koresponden').append('<option value="'+item.id+'">' + item.nama + '</option>');
                    });
                }else{
                    $('#kelurahan_koresponden').append('<option value="-">-</option>');
                }
                $("#kelurahan_koresponden").trigger("chosen:updated");
                $("#kelurahan_koresponden").trigger("liszt:updated");
            });
        });
    })
</script>    
{% endblock %}


{% block content %}
<!-- Hero -->
<div class="bg-body-light">
    <div class="content content-full">
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center">
            <h1 class="flex-sm-fill font-size-h2 font-w400 mt-2 mb-0 mb-sm-2">{{sub_title}}</h1>
            <nav class="flex-sm-00-auto ml-sm-3" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Permohonan</li>
                    <li class="breadcrumb-item active" aria-current="page">Detail</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- END Hero -->

<!-- Page Content -->
<div class="content">
    <!-- Layouts -->
    <form class="mb-5" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="block block-rounded block-bordered">
        <!-- <div class="block-header block-header-default">
            <h3 class="block-title"></h3>
        </div> -->
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">
                Data Proyek
                
                {% if detail_unit == False %}
                <a type="button" href="{% url 'detail_unit' id=permohonan.id %}" class="btn btn-success text-white" style="float: right;">
                    <i class="fa fa-upload"></i> Upload Detail Unit
                </a>
                {% else %}
                <button type="button" disabled class="btn btn-success text-white" style="float: right;">
                    <i class="fa fa-check"></i> Sudah Upload Detail Unit
                </button>
                {% endif %}
                    
            </h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group">
                        <label for="nama_proyek">Nama Proyek</label>
                        <input type="text" class="form-control" id="nama_proyek" name="nama_proyek" placeholder="Nama Proyek .." value="{{ permohonan.nama_proyek }}">
                    </div>
                    <div class="form-group">
                        <label for="alamat_proyek">Alamat Proyek</label>
                        <textarea class="form-control" name="alamat_proyek" id="alamat_proyek" cols="10" rows="5">{{ permohonan.alamat }}</textarea>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="provinsi_proyek">Provinsi</label>
                            <select class="js-select2 form-control" id="provinsi_proyek" name="provinsi_proyek" style="width: 100%;" data-placeholder="Provinsi ..">
                                <option></option>
                                {% for prov in provinsi %}
                                    <option value="{{ prov.id }}" {% if prov.id == permohonan.provinsi_proyek_id %} selected {% endif %}>{{ prov.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kota_kabupaten_proyek">Kota / Kabupaten</label>
                            <select class="js-select2 form-control" id="kota_kabupaten_proyek" name="kota_kabupaten_proyek" style="width: 100%;" data-placeholder="Kota / Kabupaten ..">
                                <option></option>
                                {% for kab in kotakabupaten_proyek %}
                                    <option value="{{ kab.id }}" {% if kab.id == permohonan.kota_kabupaten_proyek_id %} selected {% endif %}>{{ kab.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kecamatan_proyek">Kecamatan</label>
                            <select class="js-select2 form-control" id="kecamatan_proyek" name="kecamatan_proyek" style="width: 100%;" data-placeholder="Kecamatan..">
                                <option></option>
                                {% for kec in kecamatan_proyek %}
                                    <option value="{{ kec.id }}" {% if kec.id == permohonan.kecamatan_proyek_id %} selected {% endif %}>{{ kec.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kelurahan_proyek">Kelurahan</label>
                            <select class="js-select2 form-control" id="kelurahan_proyek" name="kelurahan_proyek" style="width: 100%;" data-placeholder="Kelurahan ..">
                                <option></option>
                                {% for kel in kelurahan_proyek %}
                                    <option value="{{ kel.id }}" {% if kel.id == permohonan.kelurahan_proyek_id %} selected {% endif %}>{{ kel.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="longt">Longitude</label>
                            <input type="text" class="form-control" id="longt" name="longt" placeholder="Longitude .." value="{{ permohonan.long_koordinat }}">
                        </div>
                        <div class="col-6">
                            <label for="lat">Latitude</label>
                            <input type="text" class="form-control" id="lat" name="lat" placeholder="Latitude .." value="{{ permohonan.lat_koordinat }}">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kode_pos_proyek">Kode Pos</label>
                            <input type="text" class="form-control" id="kode_pos_proyek" name="kode_pos_proyek" placeholder="Kode Pos .." value="{{ permohonan.kode_pos_proyek }}">
                        </div>
                        <div class="col-6">
                            <label for="jaringan">Jaringan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="jaringan" name="jaringan" style="width: 100%;" data-placeholder="Jaringan .." required>
                                <option></option>
                                <option value="SKTR" {% if permohonan.jaringan == "SKTR" %} selected {% endif %}>SKTR</option>
                                <option value="SUTR" {% if permohonan.jaringan == "SUTR" %} selected {% endif %}>SUTR</option>
                            </select>
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">Korespondensi</h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group">
                        <label for="nama_koresponden">Nama Koresponden</label>
                        <input type="text" class="form-control" id="nama_koresponden" name="nama_koresponden" placeholder="Nama Koresponden .." value="{{ permohonan.nama_koresponden }}">
                    </div>
                    <div class="form-group">
                        <label for="alamat_koresponden">Alamat Koresponden</label>
                        <textarea class="form-control" name="alamat_koresponden" id="alamat_koresponden" cols="10" rows="5">{{ permohonan.alamat_koresponden }}</textarea>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="provinsi_koresponden">Provinsi</label>
                            <select class="js-select2 form-control" id="provinsi_koresponden" name="provinsi_koresponden" style="width: 100%;" data-placeholder="Provinsi ..">
                                <option></option>
                                {% for prov in provinsi %}
                                    <option value="{{ prov.id }}" {% if prov.id == permohonan.provinsi_koresponden_id %} selected {% endif %}   >{{ prov.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kota_kabupaten_koresponden">Kota / Kabupaten</label>
                            <select class="js-select2 form-control" id="kota_kabupaten_koresponden" name="kota_kabupaten_koresponden" style="width: 100%;" data-placeholder="Kota / Kabupaten ..">
                                <option></option>
                                {% for kota in kotakabupaten_kores %}
                                    <option value="{{ kota.id }}" {% if kota.id == permohonan.kota_kabupaten_koresponden_id %} selected {% endif %}   >{{ kota.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kecamatan_koresponden">Kecamatan</label>
                            <select class="js-select2 form-control" id="kecamatan_koresponden" name="kecamatan_koresponden" style="width: 100%;" data-placeholder="Kecamatan..">
                                <option></option>
                                {% for kec in kecamatan_kores %}
                                    <option value="{{ kec.id }}" {% if kec.id == permohonan.kecamatan_koresponden_id %} selected {% endif %}   >{{ kec.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6">
                            <label for="kelurahan_koresponden">Kelurahan</label>
                            <select class="js-select2 form-control" id="kelurahan_koresponden" name="kelurahan_koresponden" style="width: 100%;" data-placeholder="Kelurahan ..">
                                <option></option>
                                {% for kel in kelurahan_kores %}
                                    <option value="{{ kel.id }}" {% if kel.id == permohonan.kelurahan_koresponden_id %} selected {% endif %}   >{{ kel.nama }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="kode_pos_koresponden">Kode Pos</label>
                            <input type="text" class="form-control" id="kode_pos_koresponden" name="kode_pos_koresponden" placeholder="Kode Pos .." value="{{ permohonan.kode_pos_koresponden }}">
                        </div>
                        <div class="col-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email .." value="{{ permohonan.email_koresponden }}">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="no_hp">Nomor HP</label>
                            <input type="text" class="form-control" id="no_hp" name="no_hp" placeholder="Nomor HP .." value="{{ permohonan.no_hp_koresponden }}">
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">Unit</h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label for="unit">Unit Peruntukan <span class="text-danger">*</span></label>
                            <select class="js-select2 form-control" id="unit" name="unit" style="width: 100%;" data-placeholder="Unit .." required>
                                <option></option>
                                {% for unit in unit_list %}
                                    <option value="{{ unit.id }}" {% if unit.id == permohonan.unit_id %}selected{% endif %}>{{ unit.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <div class="block-content">
            <!-- Label on top Layout -->
            <h2 class="content-heading">
                Lampiran
            </h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Form Labels on top - Default Style -->
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label>
                                Izin Pembangunan
                                <button type="button" class="btn btn-info" disabled>
                                    <i class="fa fa-check"></i>
                                </button>
                            </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_izin_pembangunan" name="file_izin_pembangunan">
                                <label class="custom-file-label" for="file_izin_pembangunan">Choose file</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>
                                Akad Pembelian
                                <button type="button" class="btn btn-info" disabled>
                                    <i class="fa fa-check"></i>
                                </button>
                            </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_bukti_akad" name="file_bukti_akad">
                                <label class="custom-file-label" for="file_bukti_akad">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label>
                                Salinan KTP Koresponden
                                <button type="button" class="btn btn-info" disabled>
                                    <i class="fa fa-check"></i>
                                </button>
                            </label> 
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_ktp_koresponden" name="file_ktp_koresponden">
                                <label class="custom-file-label" for="file_ktp_koresponden">Choose file</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>
                                Surat Kuasa (Jika Dikuasakan)
                                {% if permohonan.file_surat_kuasa != '' %}
                                <button type="button" class="btn btn-info" disabled>
                                    <i class="fa fa-check"></i>
                                </button>
                                {% else %}
                                <button type="button" class="btn btn-warning" disabled>
                                    <i class="fa fa-times"></i>
                                </button>
                                {% endif %}
                                    
                            </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_surat_kuasa" name="file_surat_kuasa">
                                <label class="custom-file-label" for="file_surat_kuasa">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-6">
                            <label>
                                Surat Permohonan
                                <button type="button" class="btn btn-info" disabled>
                                    <i class="fa fa-check"></i>
                                </button>
                            </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_surat_permohonan" name="file_surat_permohonan">
                                <label class="custom-file-label" for="file_surat_permohonan">Choose file</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>
                                Master Plan
                                <button type="button" class="btn btn-info" disabled>
                                    <i class="fa fa-check"></i>
                                </button>
                            </label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-toggle="custom-file-input" id="file_master_plan" name="file_master_plan">
                                <label class="custom-file-label" for="file_master_plan">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <!-- END Form Labels on top - Default Style -->
                </div>
            </div>
            <!-- END Label on top Layout -->
        </div>
        <div class="block-content block-content-full block-content-sm bg-body-light text-right mt-5">
            <button type="submit" class="btn btn-sm btn-info">
                <i class="fa fa-check"></i> Update
            </button>
        </div>
    </div>
    </form>
    <!-- END Layouts -->
</div>
<!-- END Page Content -->

{% endblock content %}
