{% extends 'pln/backend/layout/auth_layout.html' %}
{% load  static %}

{% block content %}

    <div class="col-lg-7 col-md-6 col-12">
        <div class="p-20 content-bottom">
            <div class="content-top-agile">
                <h2 class="text-red text-center">Sorry!!</h2>

                <p class="text-center">You has been decline quotation.</p>

            </div>

            <div class="row">
                <div class="col-6">
                    <div class="checkbox">
                        &nbsp;
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <div class="fog-pwd text-right">
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}