<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static '/images/favicon.ico' %}">

    <title>Nippon Express Indonesia - Survey Failed</title>
    <link rel="stylesheet" href="{% static '/assets/vendor_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-extend.css' %}">
    <link rel="stylesheet" href="{% static '/css/master_style.css' %}">
    <link rel="stylesheet" href="{% static '/css/skins/_all-skins.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body class="hold-transition bg-img" style="background-image: url({% static '/images/gallery/full/1.jpg' %})" data-overlay="4">

<div class="container h-p100">
    <div class="row align-items-center justify-content-md-center h-p100">

        <div class="col-lg-8 col-md-11 col-12">
            <div class="row align-items-center justify-content-md-center h-p100" data-overlay-light="9">
                <img src="{% static '/images/logo-bulat.png' %}" width="640px" alt="" />
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="p-20 content-bottom">

                        <div class="text-center text-red">

                            <h3>Failed. Please put valid arguments</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- /.login-box -->
<script src="{% static '/assets/vendor_components/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static '/assets/vendor_components/popper/dist/popper.min.js' %}"></script>
<script src="{% static '/assets/vendor_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>
