<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static '/images/favicon.ico' %}">

    <title>{{ title }}</title>

    <link rel="stylesheet" href="{% static '/assets/vendor_components/bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/bootstrap-extend.css' %}">

    {% block css %} {% endblock %}

    <link rel="stylesheet" href="{% static '/css/master_style.css' %}">
    <link rel="stylesheet" href="{% static '/css/skins/_all-skins.css' %}">

    <script type="text/javascript">
        var backend_base_url = "{{ backend_url }}"
    </script>

    <script src="{% static '/assets/vendor_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/popper/dist/popper.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static '/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js' %}"></script>
    <script src="{% static '/assets/vendor_components/fastclick/lib/fastclick.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <!-- <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script> -->
    <script src="{% static '/assets/ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static '/assets/ckeditor/ckeditor/samples/js/sample.js' %}"></script>


    {% block javascript %} {% endblock %}


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    <style type="text/css">
        .required_field {
            color: red !important;
        }
    </style>


</head>

<body class="hold-transition skin-blue-light sidebar-mini">
<div class="wrapper">

    <header class="main-header">

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- User Account -->
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ request.user.nippon_user.profile_pict_url }}" class="user-image rounded-circle" alt="User Image">
                        </a>
                        <ul class="dropdown-menu scale-up">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="{{ request.user.nippon_user.profile_pict_url }}" class="float-left rounded-circle" alt="User Image">

                                <p>
                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                    <small class="mb-4">{{ request.user.email }}</small>
                                    <a href="{% url 'profile' %}" class="btn btn-danger btn-sm btn-rounded">View Profile</a>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row no-gutters">
                                    <div class="col-12 text-left">
                                        <a href="{% url 'profile' %}"><i class="ion ion-person"></i> My Profile</a>
                                    </div>


                                    <div role="separator" class="divider col-12"></div>

                                    <div role="separator" class="divider col-12"></div>
                                    <div class="col-12 text-left">
                                        <a href="{% url 'signout' %}"><i class="fa fa-power-off"></i> Logout</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    {% include "pln/backend/layout/left_sidebar.html" %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{ sub_title }}

            </h1>
            {#      <ol class="breadcrumb">#}
            {#        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>#}
            {#        <li class="breadcrumb-item active">Dashboard</li>#}
            {#      </ol>#}
        </section>

        <!-- Main content -->
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        &copy; 2021 <a href="">PLN</a>. All Rights Reserved.
    </footer>

</div>
<!-- ./wrapper -->


</body>
</html>