{% load static %}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="ulogo">
                <a href="#">
                    <!-- logo for regular state and mobile devices -->
                    <span>PLN</span><br/>
                </a>
            </div>
            <div class="image">
                <img src="{% static '/assets/media/logo/pln.jpeg' %}" style="max-width: 100% !important; border: none !important; height: 100px; width: 100px; object-fit: cover;" alt="User Image">
            </div>
            <div class="info">
                <p>E-Request System</p>
                <a href="{% url 'signout' %}" class="link" data-toggle="tooltip" title="" data-original-title="Logout"><i class="ion ion-power"></i></a>
            </div>
        </div>
        <!-- sidebar menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="nav-devider"></li>
            <li class="header nav-small-cap">Menu</li>

            {% for menu in request.session.left_menu %}
                {% if menu.parent_id == None %}
                    {% if menu.is_tree %}
                        <li class="treeview {% if menu.alias in active_menu %} active {% endif %}">
                    {% else %}
                        <li {% if active_menu == menu.alias %} class="active" {% endif %}>
                    {% endif %}

                        <a href="{{ menu.link }}">
                            <i class="{{ menu.icon }}"></i> <span>{{ menu.name }}</span>
                            <span class="pull-right-container">
                      <i class="fa fa-angle-right pull-right"></i>
                    </span>
                        </a>
                        <ul class="treeview-menu">
                            {% for menu2 in request.session.left_menu %}
                                {% if menu2.parent_id == menu.menu_id %}
                                    <li {% if active_menu == menu2.alias %} class="active" {% endif %}>
                                        <a href="{{ menu2.link }}">{{ menu2.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
</aside>