{% extends 'pln/backend/layout/base_layout.html' %}
{% load  static %}
{% load string_tags %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {

            $('#add_new_answer').click(function () {
                $('#default_answer_row').remove();
                var new_row = '<tr>';
                new_row += '<td><input type="type" class="form-control" name="answers[]"></td>';
                new_row += '<td>&nbsp; &nbsp;</td>';
                new_row += '<td><button type="button" data-type="js" class="btn btn-danger"> <i class="fa fa-trash"></i> Delete Answer</button></td>';
                new_row += '</tr>';
                $('#table_answers tbody').append(new_row);

            });

             $('#table_answers').on('click', 'button', function(){

                $(this).closest('tr').remove();
                var rowCount = $('#table_answers tr').length;
                if(rowCount == 0){
                    $('#table_answers tbody').append('<tr id="default_answer_row"><td>No Answer Data</td></tr>');
                }

            });
        });
    </script>
{% endblock %}

{% block content %}
    {% if request.COOKIES.success_msg %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <div class="box box-default">
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" href="{% url 'question_list' %}" role="tab" aria-selected="true">
                        <span class="hidden-sm-up">
                                    <i class="ion-home"></i>
                                </span>
                        <span class="hidden-xs-down">Question</span>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">
                <div class="tab-pane active show" id="add_question_tab" role="tabpanel">
                    <div class="pad">
                        <h3>Question Detail</h3>
                        <div id="navpills-1" class="tab-pane active">
                            <form method="post" enctype="application/x-www-form-urlencoded">
                                {% csrf_token %}
                                <div class="box">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Question<span class="required_field">*</span> : </label>
                                            <div class="controls">
                                                <textarea  autocomplete="off" class="form-control" name="question">{{ question_detail.text | trim}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Answers<span class="required_field">*</span> : </label>
                                            <div class="controls">
                                                <button class="btn btn-cyan" id="add_new_answer" type="button">
                                                    <i class="fa fa-plus"></i> Add New Answer
                                                </button>
                                            </div>
                                        </div>
                                        <table class="table-responsive" id="table_answers">
                                            {% for answer in question_detail.answeroption_set.all %}
                                                <tr>
                                                    <td>{{ answer.answer}}</td>
                                                    <td>&nbsp; &nbsp;</td>
                                                    <td>
                                                        <a href="{% url 'delete_answer' id=answer.id %}" onclick="return confirm('Are you sure to delete this answer?'); " class="btn btn-danger">
                                                            <i class="fa fa-trash"></i> Delete Answer
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% empty %}
                                                <tr id="default_answer_row"><td>No Answer Data</td></tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    <div class="box-footer">
                                        <a href="{% url 'question_list' %}" class="btn btn-red">
                                            <i class="fa fa-chevron-left"></i>
                                            Back
                                        </a>

                                        <button type="submit" class="btn btn-info pull-right">
                                            <i class="fa fa-floppy-o"></i>
                                            Update
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}