{% extends 'pln/backend/layout/base_layout.html' %}
{% load  static %}

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xl-3 col-md-6 col-12 ">
            <a href="{% url 'add_user' %}" class=" btn btn-blue">
                <i class="fa fa-user-plus"></i>
                Add New User
            </a>
        </div>
    </div>

    <div class="row">

        {% for user in users %}
            <div class="col-6 col-md-6 col-lg-4 col-xl-2">
                <div class="box box-body">
                    <div class="flexbox align-items-center">
                        <label class="toggler toggler-yellow">
                            &nbsp;
                        </label>
                        <div class="dropdown">
                            <a data-toggle="dropdown" href="#" aria-expanded="false"><i class="fa fa-cog"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'user_detail' id=user.id %}"><i class="fa fa-fw fa-user"></i> Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'user_delete' id=user.id %}" onclick="return confirm('Are you sure to delete this user ?');">
                                    <i class="fa fa-fw fa-remove"></i> Remove
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center pt-3">
                        <a href="#">
                            <img class="avatar avatar-xxl" src="{{ user.nippon_user.profile_pict_url }}" alt="">
                        </a>
                        <h5 class="mt-15 mb-0">
                            <a href="{% url 'user_detail' id=user.id %}">{{ user.first_name | capfirst}} {{ user.last_name | capfirst}}</a></h5>
                        <span>{{ user.roleuser.role_group.description | capfirst }}</span><br />
                        <span>Status :
                            {% if user.pln_user.is_deleted == true %}
                                <span class="badge badge-danger">Deleted</span>
                            {% elif user.is_active is False and user.pln_user.is_activated == 0 %}
                                <span class="badge badge-danger">Not Activated</span>
                            {% else %}
                                <span class="badge badge-success">Active</span>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <nav>
        <ul class="pagination justify-content-center">

            {% if users.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.previous_page_number }}">
                        <span class="ion-ios-arrow-thin-left"></span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span class="ion-ios-arrow-thin-left"></span>
                    </a>
                </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#">{{ users.number }} of {{ users.paginator.num_pages }}</a>
            </li>

            {% if users.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ users.next_page_number }}">
                        <span class="ion-ios-arrow-thin-right"></span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <span class="ion-ios-arrow-thin-right"></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    </section>
    <!-- /.content -->
    </div>
{% endblock %}