{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}
{% load string_tags %}

{% block css %}

    <!-- iCheck 1.0.1 -->
    <link rel="stylesheet" href="{% static '/assets/vendor_plugins/iCheck/all.css' %}">

{% endblock %}

{% block javascript %}

    <script src="{% static '/assets/vendor_plugins/iCheck/icheck.min.js' %}"></script>

    <script type="text/javascript">
        $(function () {
            "use strict";
            //iCheck for checkbox and radio inputs
            $('.ichack-input input[type="checkbox"].minimal, .ichack-input input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'icheckbox_minimal-blue'
            });
            //Red color scheme for iCheck
            $('.ichack-input input[type="checkbox"].minimal-red, .ichack-input input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass   : 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('.ichack-input input[type="checkbox"].flat-red, .ichack-input input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass   : 'iradio_flat-green'
            });
        });
    </script>
{% endblock %}

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Role Attributes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label>Role Name : </label>
                    <div class="controls">
                        <input type="text" autocomplete="off" value="{{ role.name }}" name="name" disabled="disabled" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <label>Role Description : </label>
                    <div class="controls">
                        <input type="text" autocomplete="off" value="{{ role.description }}" name="description" disabled="disabled" class="form-control"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="box">


            <div class="box-header with-border">
                <h3 class="box-title">Role Menu</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="myadmin-dd dd" id="nestable">
                    <ol class="dd-list">
                        {% for menu in menus %}
                            {% if menu.parent_menu == None %}
                                <li class="dd-item">
                                    <div class="dd-handle"  style="border: none !important;">

                                        <div class="form-group ichack-input">
                                            <label>
                                                <input type="checkbox" class="minimal" name="menus_selected[]" {{ menu.id | compare_dict:old_menu_selected_dict }} value="{{ menu.id }}">
                                                &nbsp; {{ menu.name }}
                                            </label>
                                        </div>


                                    </div>
                                    <ol class="dd-list">
                                        {% for menu_child in menus %}
                                            {% if menu_child.parent_menu_id == menu.id %}
                                                <li class="dd-item">
                                                    <div class="dd-handle"  style="border: none !important;">


                                                        <div class="form-group ichack-input">
                                                            <label>
                                                                <input type="checkbox" class="minimal" name="menus_selected[]" {{ menu_child.id | compare_dict:old_menu_selected_dict }} value="{{ menu_child.id }}">
                                                                &nbsp; {{ menu_child.name }}
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <ol class="dd-list">
                                                        {% for menu_child_child in menus %}
                                                            {% if menu_child_child.parent_menu_id == menu_child.id %}
                                                                <li class="dd-item">
                                                                    <div class="dd-handle"  style="border: none !important;">
                                                                        <div class="form-group ichack-input">
                                                                            <label>
                                                                                <input type="checkbox" class="minimal" name="menus_selected[]" {{ menu_child_child.id | compare_dict:old_menu_selected_dict }} value="{{ menu_child_child.id }}">
                                                                                &nbsp; {{ menu_child_child.name }}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <ol class="dd-list">
                                                                        {% for menu_child_child_child in menus %}
                                                                            {% if menu_child_child_child.parent_menu_id == menu_child_child.id %}
                                                                                <li class="dd-item">
                                                                                    <div class="dd-handle"  style="border: none !important;">
                                                                                        <div class="form-group ichack-input">
                                                                                            <label>
                                                                                                <input type="checkbox" class="minimal" name="menus_selected[]" {{ menu_child_child_child.id | compare_dict:old_menu_selected_dict }} value="{{ menu_child_child_child.id }}">
                                                                                                &nbsp; {{ menu_child_child_child.name }}
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <ol class="dd-list">
                                                                                        {% for menu_child_child_child_child in menus %}
                                                                                            {% if menu_child_child_child_child.parent_menu_id == menu_child_child_child.id %}
                                                                                                <li class="dd-item">
                                                                                                    <div class="dd-handle"  style="border: none !important;">
                                                                                                        <div class="form-group ichack-input">
                                                                                                            <label>
                                                                                                                <input type="checkbox" class="minimal" name="menus_selected[]" {{ menu_child_child_child_child.id | compare_dict:old_menu_selected_dict }} value="{{ menu_child_child_child_child.id }}">
                                                                                                                &nbsp; {{ menu_child_child_child_child.name }}
                                                                                                            </label>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </li>
                                                                                            {% endif %}
                                                                                        {% endfor %}
                                                                                    </ol>

                                                                                </li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </ol>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ol>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ol>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="box-footer">
                <a href="{% url 'role_list' %}" class="btn btn-red">
                    <i class="fa fa-ban"></i>
                    Cancel
                </a>

                <button type="submit" class="btn btn-info pull-right">
                    <i class="fa fa-floppy-o"></i>
                    Update
                </button>
            </div>
        </div>

    </form>


{% endblock %}