{% extends 'pln/backend/layout/base_layout.html' %}
{% load  static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/vendor_components/select2/dist/css/select2.min.css' %}">
{% endblock %}

{% block javascript %}

    <script src="{% static '/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/input-mask/jquery.inputmask.date.extensions.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/input-mask/jquery.inputmask.extensions.js' %}"></script>
    <script src="{% static '/assets/vendor_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/timepicker/bootstrap-timepicker.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'js/pages/advanced-form-element.js'%}"></script>

    <script>
        $(document).ready(function () {
            $('#country').change(function () {
                var val_country = $(this).val();
                $.ajax({
                    url: backend_base_url + "api/city_by_country?country=" + val_country,
                    dataType: "json",
                    beforeSend: function(){
                        $("#city").empty();
                    }
                }).done(function( data ) {
                    var total_data = data.length;
                    if(total_data > 0 ){
                        $.map( data, function( item ) {
                            $('#city').append('<option value="'+item.id+'">' + item.name + '</option>');
                        });
                    }else{
                        $('#city').append('<option value="-">-</option>');
                    }
                    $("#city").trigger("chosen:updated");
                    $("#city").trigger("liszt:updated");
                });
            });
        });
    </script>
{% endblock %}

{% block content %}

    <div class="box">
        <form method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            <div class="box-header with-border">
                <h3 class="box-title">Customer Data</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>Name<span class="required_field">*</span> : </label>
                            <div class="controls">
                                <input type="text" name="name" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Mobile Phone<span class="required_field">*</span> : </label>
                            <div class="controls">
                                <input type="text" name="mobile_phone" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>Email<span class="required_field">*</span> : </label>
                            <div class="controls">
                                <input type="text" name="email" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label>Phone Number<span class="required_field">*</span> : </label>
                            <div class="controls">
                                <input type="text" name="phone_number" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                        <!-- /.form-group -->
                    </div>

                    <div class="col-md-12 col-12">
                        <div class="form-group">
                            <label>Address<span class="required_field">*</span> : </label>
                            <textarea class="form-control" rows="3" placeholder="Enter Address ..." name="address" autocomplete="off"></textarea>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>Country<span class="required_field">*</span> : </label>
                            <select class="form-control select2 w-p100" name="country" id="country">
                                <option value="0">--- Country --- </option>
                                {% for country in countries %}
                                    <option value="{{ country.id }}">{{ country.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Postal Code<span class="required_field">*</span> : </label>
                            <div class="controls">
                                <input type="text" name="postal_code" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label>City<span class="required_field">*</span> : </label>
                            <select class="form-control select2 w-p100" name="city" id="city">
                                <option value="0">--- City --- </option>
                            </select>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a href="{% url 'customer_list' %}" class="btn btn-red">
                    <i class="fa fa-ban"></i>
                    Cancel
                </a>
                <button type="submit" class="btn btn-info pull-right">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </form>
    </div>
{% endblock %}