{% extends 'pln/backend/layout/base_layout.html' %}
{% load  static %}

{% block content %}
    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <div class="box box-default">
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}" aria-selected="false">
                            <span class="hidden-sm-up">
                                <i class="ion-home"></i>
                            </span>
                        <span class="hidden-xs-down">Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active show" href="{% url 'change_password' %}" aria-selected="true">
                            <span class="hidden-sm-up">
                                <i class="ion-person"></i>
                            </span>
                        <span class="hidden-xs-down">Change Password</span>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">

                <!-- DELIMITER -->
                <div class="tab-pane active show" id="change_password" role="tabpanel">
                    <div class="pad">
                        <h3>Change Password</h3>

                        <form role="form" class="form-element" method="post" enctype="application/x-www-form-urlencoded">
                            {% csrf_token %}
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Old Password<span class="required_field">*</span></label>
                                    <input type="password" class="form-control" autocomplete="off" id="old_password" placeholder="Enter Old Password" name="old_password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">New Password<span class="required_field">*</span></label>
                                    <input type="password" class="form-control" autocomplete="off" id="new_password" placeholder="Enter New Password" name="new_password">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Confirm New Password<span class="required_field">*</span></label>
                                    <input type="password" class="form-control" autocomplete="off" id="confirm_new_password" placeholder="Enter New Password" name="confirm_new_password">
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}