{% extends 'pln/backend/layout/base_layout.html' %}
{% load  static %}

{% block javascript %}
    <script src="{% static '/assets/vendor_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script>
        $(function () {
            "use strict";

            $('#memberList').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : true,
              'autoWidth'   : false,
              'processing': true,
              'serverSide': true,
              'ajax': "{% url 'daya_list_ajax' %}",
              'ordering': false
            });

          }); // End of use strict
    </script>
{% endblock %}

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-xl-3 col-md-6 col-12 ">
            <a href="{% url 'daya_add' %}" class=" btn btn-blue">
                <i class="fa fa-plus-circle"></i>
                Tambah Daya
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="box b-3">
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="memberList" class="table no-wrap" data-page-size="10">
                            <thead>
                            <tr class="bg-secondary">
                                <th>Satuan</th>
                                <th>Terbilang</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /. box -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}