{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <div class="box">

            {% csrf_token %}
            <div class="box-header with-border">
                <h3 class="box-title">Daya Attributes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label>Angka<span class="required_field">*</span> : </label>
                    <div class="controls">
                        <input type="number" step="0.01" min="0" autocomplete="off" name="angka" class="form-control" value="{{ daya.angka }}" required/>
                        <!-- <input type="number" min="0" autocomplete="off" name="angka" class="form-control" value="{{ daya.angka }}" required/> -->
                    </div>
                </div>
                <div class="form-group">
                    <label>Satuan<span class="required_field">*</span> : </label>
                    <div class="controls">
                        <input type="text" autocomplete="off" name="satuan" class="form-control" value="{{ daya.satuan }}" required/>
                    </div>
                </div>

            </div>
            <div class="box-footer">
                <a href="{% url 'daya_list' %}" class="btn btn-red">
                    <i class="fa fa-ban"></i>
                    Cancel
                </a>

                <button type="submit" class="btn btn-info pull-right">
                    <i class="fa fa-floppy-o"></i>
                    Update
                </button>
            </div>
        </div>
    </form>


{% endblock %}