{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static '/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js' %}"></script>

    <script>

        function generate_comment(quotation_id){
            $.ajax({
                url: backend_base_url + "quotation/list/comments/" + quotation_id + '/',
                dataType: "json",
                beforeSend: function(){
                    $("#comment_list_box").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $.map( data, function( item ) {

                        var html_data = '<div class="post">';
                        html_data += '<div class="user-block">';
                        html_data += '<img class="img-bordered-sm rounded-circle" src="'+item.user_profile_pict+'" alt="user image">';
                        html_data += '<span class="username">';
                        html_data += '<a href="#">'+item.user_name+'</a></span>';
                        html_data += '<span class="description">'+item.comment_date+'</span></div>';
                        html_data += '<div class="activitytimeline">';
                        html_data += '<p>' + item.comment + '</p></div></div>';

                        $('#comment_list_box').append(html_data);
                    });
                }else{
                    $('#comment_list_box').append('No Data');
                }
                $("#comment_list_box").trigger("liszt:updated");
            });
        }

        $(document).ready(function () {
            var quotation_id = '{{quotation_detail.id}}'

            generate_comment(quotation_id);

            $('#add_comment_btn').click(function () {
                var text_area_comment = $('#comment_textarea').val();
                $.ajax({
                    url: backend_base_url + "quotation/add/comment/" + quotation_id + '/',
                    beforeSend: function(){
                        $("#comment_textarea").val(null);
                    },
                    method: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        comment: text_area_comment
                    }
                }).done(function( data ) {
                    generate_comment(quotation_id);
                });
            });
        });
    </script>

{% endblock %}

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            {{ request.COOKIES.error_msg }} </div>
    {% endif %}



    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Quotation Attributes</h3>
        </div>
        <div class="box-body">
            <div class="row">

                <!-- LEFT COLUMN -->
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label>Type : </label>
                        <div class="controls">
                            <input type="text" value="{{ quotation_detail.get_type_display }}" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Template : </label>
                        <div class="controls">
                            <input type="text" value="{{ quotation_detail.template_quotation.name }}" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Ref. No : </label>
                        <div class="controls">
                            <input type="text" class="form-control" value="{{ quotation_detail.quotation_number }}" disabled/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Name : </label>
                        <div class="controls">
                            <input type="text" class="form-control" value="{{ quotation_detail.name }}" disabled/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Customer : </label>
                        <div class="controls">
                            <input type="text" class="form-control" value="{{ quotation_detail.customer.name }}" disabled/>
                        </div>
                    </div>
                </div>

                <!-- /.col -->
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label>Approval Due Date : </label>
                        <div class="controls">
                            <input type="text" class="form-control" disabled value="{{ quotation_detail.internal_due_date | date:'d M Y' }}"/>
                        </div>
                    </div>
                    <!-- /.form-group -->
                    <div class="form-group">
                        <label>Quotation Due Date : </label>
                        <div class="controls">
                            <input type="text" class="form-control" disabled value="{{ quotation_detail.quotation_due_date | date:'d M Y' }}"/>
                        </div>
                    </div>
                    <!-- /.form-group -->

                    <div class="form-group">
                        <label>Currency : </label>
                        <div class="controls">
                            <input type="text" class="form-control" disabled value="{{ quotation_detail.currency.name}}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Revision Number : </label>
                        <div class="controls">
                            <input type="text" class="form-control" value="R-{{ quotation_detail.revision_number }}" readonly/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Status : </label>
                        <div class="controls">
                            <input type="text" class="form-control" value="{{ quotation_detail.get_quotation_status_display }}" readonly/>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>

    {% if air_freight_contents %}
    <div class="box" id="air_freight_item_box">
        <div class="box-header with-border">
            <h3 class="box-title" id="title_air_freight_item">Air Freight</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table_list_air_freight">
                        <thead class="bg-secondary"><tr>
                            <th>Dest / Origin</th>
                            <th>Rates Min</th>
                            <th>Rates -45Kg</th>
                            <th>Rates +45Kg</th>
                            <th>Rates +100Kgs</th>
                            <th>Rates +300Kg</th>
                            <th>Rates +500Kg</th>
                            <th>Rates +1000Kg</th>
                            <th>FSC / Kg</th>
                            <th>SSC / Kg</th>
                            <th>Route</th>
                            <th>Service</th>
                        </tr></thead>
                        <tbody>
                        {% for airfreight_content in air_freight_contents %}
                            <tr>
                                <td>{{ airfreight_content.dest_or_origin }}</td>
                                <td>{{ airfreight_content.rates_min | floatformat:0 | intcomma }}</td>
                                <td>{{ airfreight_content.rates_min_45 | floatformat:0 | intcomma }}</td>
                                <td>{{ airfreight_content.rates_plus_45 | floatformat:0 | intcomma }}</td>
                                <td>{{ airfreight_content.rates_plus_100 | floatformat:0 | intcomma }}</td>
                                <td>{{ airfreight_content.rates_plus_300 | floatformat:0 | intcomma }}</td>
                                <td>{{ airfreight_content.rates_plus_500 | floatformat:0 | intcomma }}</td>
                                <td>{{ airfreight_content.rates_plus_1000 | floatformat:0 | intcomma }}</td>
                                <td>{{ airfreight_content.fsc }}</td>
                                <td>{{ airfreight_content.ssc }}</td>
                                <td>{{ airfreight_content.route }}</td>
                                <td>{{ airfreight_content.service }}</td>
                            </tr>
                        {% endfor %}
                        </tbody></table>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    {% endif %}

    {% if quotation_detail.type == 1 %}
    <div class="box" id="air_freight_related_cost_box">
        <div class="box-header with-border">
            <h3 class="box-title">Other Cost Related Air Freight</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="table_air_freight_other_cost">
                            <thead class="bg-secondary"><tr>
                                <th>Description</th>
                                <th>Rates</th>
                            </tr></thead>
                            <tbody>
                            {% for other_cost_content in air_freight_other_cost_contents %}
                            <tr>
                                <td>{{ other_cost_content.description }}</td>
                                <td>{{ other_cost_content.rates | floatformat:0 | intcomma }}</td>
                            </tr>
                            {% endfor %}
                            </tbody></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endif %}

    {% if quotation_detail.type == 2 %}
    <div class="box" id="export_handling_charge_box">
        <div class="box-header with-border">
            <h3 class="box-title">Export Handling Charges</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="table_export_item">
                            <thead class="bg-secondary"><tr>
                                <th style="width: 50px;">No. </th>
                                <th>Description</th>
                                <th>Rates</th>
                                <th>Information</th>
                            </tr></thead>
                            <tbody>
                            {% for export_content in export_contents %}
                                <tr id="default_export_item">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ export_content.description }}</td>
                                    <td>{% if export_content.rates %} {{export_content.rates | floatformat:0 | intcomma}} {% else %} &nbsp; {% endif %}</td>
                                    <td>{% if export_content.info %} {{export_content.info}} {% else %} &nbsp; {% endif %} </td>
                                </tr>
                                {% for detail in export_content.quotationexportimporthandlingdetail_set.all %}
                                    <tr id="default_export_child_item">
                                        <td>&nbsp;</td>
                                        <td>&nbsp; &nbsp; {{ detail.description }}</td>
                                        <td>{{ detail.rates | floatformat:0 | intcomma}}</td>
                                        <td>{{ detail.info }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody></table>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    {% endif %}

    {% if quotation_detail.type == 3 %}
    <div class="box" id="import_handling_charge_box">
        <div class="box-header with-border">
            <h3 class="box-title">Import Handling Charges</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="table_import_item">
                            <thead class="bg-secondary"><tr>
                                <th style="width: 5px;">No. </th>
                                <th>Description</th>
                                <th>Rates</th>
                                <th>Information</th>
                            </tr></thead>
                            <tbody>
                            {% for import_content in import_contents %}
                                <tr id="default_import_item">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ import_content.description }}</td>
                                    <td>{% if import_content.rates %} {{import_content.rates | floatformat:0 | intcomma}} {% else %} &nbsp; {% endif %}</td>
                                    <td>{% if import_content.info %} {{export_content.info}} {% else %} &nbsp; {% endif %} </td>
                                </tr>
                                {% for detail in import_content.quotationexportimporthandlingdetail_set.all %}
                                    <tr id="default_import_child_item">
                                        <td>&nbsp;</td>
                                        <td>&nbsp; &nbsp; {{ detail.description }}</td>
                                        <td>{{ detail.rates | floatformat:0 | intcomma}}</td>
                                        <td>{{ detail.info }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            </tbody></table>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>
    {% endif %}

    <div class="row">

        <div class="col-lg-6 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Quotation Recipient</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table" id="table_list_contact">
                                    <thead class="bg-secondary"><tr>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for contact in quotation_recipients %}
                                    <tr>
                                        <td>{{ contact.customer_contact.user.first_name }} {{ contact.customer_contact.user.last_name }}</td>
                                        <td>{{ contact.customer_contact.user.email }}</td>
                                        <td>{{ contact.customer_contact.phone_number }}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody></table>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Supervisor List</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table class="table" id="table_list_supervisor">
                                    <thead class="bg-secondary"><tr>
                                        <th>Supervisor Name</th>
                                        <th>Email</th>
                                    </tr></thead>
                                    <tbody>
                                    {% for supervisor in quotation_supervisors %}
                                    <tr>
                                        <td>{{ supervisor.user.first_name | capfirst}} {{ supervisor.user.last_name | capfirst }}</td>
                                        <td>{{ supervisor.user.email}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>

    </div>

    {% if user_can_comment %}
        <div class="box" id="compose_comment">
            <div class="box-header with-border">
                <h3 class="box-title">Comment</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 col-12">
                        <textarea id="comment_textarea" class="textarea w-p100 b-1 p-10" placeholder="Place some text here" ></textarea>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-info pull-right" id="add_comment_btn">
                    <i class="fa fa-plus"></i>
                    Add Comment
                </button>
            </div>
        </div>

        <div class="box" id="list_comment">
            <div class="box-header with-border">
                <h3 class="box-title">Comment List</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 col-12" id="comment_list_box">
                        No Comments
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="box">
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="pull-left">
                <a href="{% url 'quotation' %}" class="btn btn-red">
                    <i class="fa fa-chevron-left"></i>
                    Back
                </a>

                <a href="{% url 'action_quotation' id=quotation_detail.id action='download_pdf' %}" target="_blank" class="btn btn-danger">
                    <i class="fa fa-file-pdf-o"></i>
                    Download to PDF
                </a>

                {% if has_history %}
                    <a href="{% url 'quotation_history' quotation_id=quotation_detail.id %}" class="btn btn-dark">
                        <i class="fa fa-clock-o"></i>
                        Show Quotation History
                    </a>
                {% endif %}
            </div>
            <div class="pull-right">

                {% if can_approve %}
                    <a href="{% url 'action_quotation' id=quotation_detail.id action='wait_revision' %}" class="btn btn-cyan">
                        <i class="fa fa-clock-o"></i>
                        Wait For Revision
                    </a>
                {% endif %}

                {% if can_edit %}
                    <a href="{% url 'quotation_edit' id=quotation_detail.id %}" class="btn btn-brown">
                        <i class="fa fa-edit"></i>
                        Edit
                    </a>
                {% endif %}

                {% if can_finalize %}
                    <a href="{% url 'action_quotation' id=quotation_detail.id action='final' %}" class="btn btn-info">
                        <i class="fa fa-check-circle"></i>
                        Finalize
                    </a>
                {% endif %}

                {% if can_approve %}
                    <a href="{% url 'action_quotation' id=quotation_detail.id action='approve' %}" class="btn btn-info">
                        <i class="fa fa-check-circle"></i>
                        Approve
                    </a>
                {% endif %}

                {% if can_send_quotation %}
                    <a href="{% url 'send_mail' id=quotation_detail.id%}" class="btn btn-yellow">
                        <i class="fa fa-send"></i>
                        Send Mail
                    </a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}