{% extends 'pln/backend/layout/auth_layout.html' %}
{% load  static %}
{% block content %}

    <div class="col-lg-7 col-md-6 col-12">
        <div class="p-20 " style="padding-top: 0 !important; padding-bottom: 30px !important;">
            <div class="content-top-agile">
                <h2>Forget Password</h2>
                {% if request.COOKIES.error_msg %}
                    <p class="text-fade" style="color: red !important;">{{ request.COOKIES.error_msg }}</p>
                {% endif %}
            </div>
            <form action="{% url 'do_reset_password' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Email" name="email">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger border-danger"><i class="ti-user"></i></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="checkbox">
                            &nbsp;
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <div class="fog-pwd text-right">
                            <a href="{% url 'signin' %}"><i class="fa fa-sign-in"></i> Login</a><br>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <input type="submit" class="btn btn-info btn-block margin-top-10" value="Reset" />
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>

{% endblock %}