{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static '/assets/vendor_components/select2/dist/css/select2.min.css' %}">
{% endblock %}
    

{% block javascript %}
<script src="{% static '/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
<script type="text/javascript">
    $(function () {
        "use strict";

        $('.select2').select2();

    });

    $(document).ready(function () {
        $('#div-provinsi').attr("hidden", true);
        $('#div-kabupaten').attr("hidden", true);
        $('#div-kecamatan').attr("hidden", true);
        
        $('#role').change(function () {
            var val_role = $(this).val();

            if (val_role == 22) {
                $('#div-provinsi').attr("hidden", false);
                $('#div-kabupaten').attr("hidden", true);
                $('#div-kecamatan').attr("hidden", true);
                $('#provinsi').attr("required", true);
                $('#kabupaten').attr("required", false);
                $('#kecamatan').attr("required", false);
            } else if (val_role == 23) {
                $('#div-provinsi').attr("hidden", true);
                $('#div-kabupaten').attr("hidden", false);
                $('#div-kecamatan').attr("hidden", true);
                $('#provinsi').attr("required", false);
                $('#kabupaten').attr("required", true);
                $('#kecamatan').attr("required", false);
            } else {
                $('#div-provinsi').attr("hidden", true);
                $('#div-kabupaten').attr("hidden", true);
                $('#div-kecamatan').attr("hidden", false);
                $('#provinsi').attr("required", false);
                $('#kabupaten').attr("required", false);
                $('#kecamatan').attr("required", true);                            
            }
                        
            $.ajax({
                url: backend_base_url + "api/user_by_role?role=" + val_role,
                dataType: "json",
                beforeSend: function(){
                    $("#user").empty();
                }
            }).done(function( data ) {
                var total_data = data.length;
                if(total_data > 0 ){
                    $.map( data, function( item ) {
                        $('#user').append('<option value="'+item.user__id+'">' + item.user__first_name +' '+ item.user__last_name + '</option>');
                    });
                }else{
                    $('#user').append('<option value="0">Data Tidak DItemukan</option>');
                }
                $("#user").trigger("chosen:updated");
                $("#user").trigger("liszt:updated");
            });
        }); 
    })
</script>
{% endblock %}
    

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        <div class="box">

            {% csrf_token %}
            <div class="box-header with-border">
                <h3 class="box-title">Unit Attributes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="form-group">
                    <label>Name<span class="required_field">*</span> : </label>
                    <input class="form-control" type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label>Role<span class="required_field">*</span> : </label>
                    <select class="form-control select2 w-p100" name="role" id="role" required>
                        <option value="">--- Role --- </option>
                        {% for role in roles %}
                            <option value="{{ role.id }}">{{ role.description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="div-provinsi">
                    <label>Provinsi<span class="required_field">*</span> : </label>
                    <select class="form-control select2 w-p100" name="provinsi" id="provinsi" required>
                        <option value="">--- Provinsi --- </option>
                        {% for prov in provinsi %}
                            <option value="{{ prov.id }}">{{ prov.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="div-kabupaten">
                    <label>Kabupaten / Kota<span class="required_field">*</span> : </label>
                    <select class="form-control select2 w-p100" name="kabupaten" id="kabupaten" required>
                        <option value="">--- Kabupaten / Kota --- </option>
                        {% for kab in kabupaten %}
                            <option value="{{ kab.id }}">{{ kab.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group" id="div-kecamatan">
                    <label>kecamatan<span class="required_field">*</span> : </label>
                    <select class="form-control select2 w-p100" name="kecamatan" id="kecamatan" required>
                        <option value="">--- kecamatan --- </option>
                        {% for kec in kecamatan %}
                            <option value="{{ kec.id }}">{{ kec.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="box-footer">
                <a href="{% url 'group_list' %}" class="btn btn-red">
                    <i class="fa fa-ban"></i>
                    Cancel
                </a>

                <button type="submit" class="btn btn-info pull-right">
                    <i class="fa fa-floppy-o"></i>
                    Save
                </button>
            </div>
        </div>
    </form>


{% endblock %}