{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/vendor_components/select2/dist/css/select2.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static '/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static '/assets/vendor_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>

        var data_table = null;
        $(function () {
            "use strict";

            $('.select2').select2();

            // $('#create_date').datepicker({
            //     autoclose: true,
            //     format: 'dd/mm/yyyy',
            //     disableTouchKeyboard: true
            // });

            //Date picker
            $('#expire_date_from').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                disableTouchKeyboard: true
            });

            $('#expire_date_to').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                disableTouchKeyboard: true
            });

            data_table = $('#job_list').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'autoWidth'   : false,
              'processing': true,
              'serverSide': true,
              'ajax': {
                url: "{% url 'job_list_ajax' %}",
                data : function(d){
                    d.filter_job_name = $('#job_name').val();
                    // d.filter_created_date = $('#create_date').val();
                    d.filter_status = $('#status').val();
                    d.filter_expire_from = $('#expire_date_from').val();
                    d.filter_expire_to = $('#expire_date_to').val();
                }
              },
              'ordering': false
            });

          }); // End of use strict

        $(document).ready(function () {
            $('#filter').click(function () {
                data_table.draw();
            });
        });

        function copyText() {
            //select the element with the id "copyMe", must be a text box
            var textToCopy = document.getElementById("copy-iframe-18");
            //select the text in the text box
            textToCopy.select();
            //copy the text to the clipboard
            document.execCommand("copy");
            alert("text copied");
        }
    </script>
{% endblock %}

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <div class="box">
        <div class="box-header with-border table-responsive">
            <form action="#" method="post" target="_blank">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-6">
                        <div class="form-group">
                            <label>Job Name : </label>
                            <div class="controls">
                                <input type="text" name="job_name" id="job_name" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-3 col-6">
                        <div class="form-group">
                            <label>Expired Date From : </label>
                            <div class="controls">
                                <input id="expire_date_from" name="expire_date_from" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-6">
                        <div class="form-group">
                            <label>To : </label>
                            <div class="controls">
                                <input id="expire_date_to" name="expire_date_to" class="form-control" autocomplete="off"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 col-3">
                        <div class="form-group">
                            <label></label>
                            <div class="controls">
                                <button type="button" class="btn btn-success pull-left" id="filter">
                                    <i class="fa fa-search"></i>
                                    Filter
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- &nbsp;
                    <div class="col-md-1 col-3">
                        <div class="form-group">
                            <label></label>
                            <div class="controls">
                                <button type="button" class="btn btn-warning pull-left">
                                    <i class="fa fa-download"></i>
                                    Download
                                </button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </form>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table id="job_list" class="table table-bordered no-wrap" data-page-size="10">
                    <thead>
                    <tr class="bg-secondary">
                        <th>Job Title</th>
                        <th>Description</th>
                        <th>Job Site</th>
                        <th>Expiring Date</th>
                        <th>Applicants</th>
                        <th>Status</th>
                        <th style="width: 150px">Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
        
        {% if request.user.roleuser.role_group.name != 'departement' %}
        <div class="box-footer">
            <a href="{% url 'job_add' %}" class="btn btn-blue pull-left">
                <i class="fa fa-file-o"></i>
                Add New Job
            </a>
        </div>
        {% endif %}
            
    </div>

{% endblock %}