{% extends 'pln/backend/layout/auth_layout.html' %}
{% load  static %}

{% block content %}

    <div class="col-lg-7 col-md-6 col-12">
        <div class="p-20" style="padding-top: 0 !important; padding-bottom: 30px !important;">
            <div class="content-top-agile">
                <h2 class="text-center text-blue">{{ sub_title }}</h2>
                {% if request.COOKIES.error_msg %}
                    <p class="text-fade" style="color: red !important;">{{ request.COOKIES.error_msg }}</p>
                {% endif %}
            </div>
            <form action="{% url 'signin' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="email" autocomplete="off">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger border-danger"><i class="ti-user"></i></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="password" autocomplete="off">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-danger border-danger"><i class="ti-lock"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="checkbox">
                            &nbsp;
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <div class="fog-pwd text-right">
                            <a href="{% url 'forget_password' %}"><i class="ion ion-locked"></i> Forgot Password?</a><br>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-12 text-center">
                        <input type="submit" class="btn btn-danger btn-block margin-top-10" value="SIGN IN" />
                    </div>
                    <!-- /.col -->
                </div>
            </form>
        </div>
    </div>

{% endblock %}