{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static '/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor_components/select2/dist/css/select2.min.css' %}">
{% endblock %}
    

{% block javascript %}
    <script src="{% static '/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";

            $('.select2').select2();
        });
    
    </script>
{% endblock %}
    

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <form method="post">
    {% csrf_token %}
    <div class="box">
        <div class="box-header with-border">
            <h3>Update Timeline</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Data</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>Aktifitas<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="text" name="aktifitas" value="{{ timeline.aktifitas }}" class="form-control" autocomplete="off" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>PIC<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="text" name="pic" value="{{ timeline.pic }}" class="form-control" autocomplete="off" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Key Account<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="text" name="key_account" value="{{ timeline.key_account }}" class="form-control" autocomplete="off" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Target</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <div class="controls">
                                    <label>Status<span class="required_field">*</span> : </label>
                                    <input type="text" name="target_status" class="form-control" value="Target" disabled autocomplete="off"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tanggal Mulai<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="date" value="{{ target_mulai }}" name="target_tgl_mulai" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tanggal Selesai<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="date" value="{{ target_selesai }}" name="target_tgl_selesai" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Realisasi</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group">
                                <label>Status<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="text" name="realisasi_status" class="form-control" autocomplete="off" value="Realisasi" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tanggal Mulai<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="date" value="{{ realisasi_mulai }}" name="realisasi_tgl_mulai" class="form-control" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Tanggal Selesai<span class="required_field">*</span> : </label>
                                <div class="controls">
                                    <input type="date" value="{{ realisasi_selesai }}" name="realisasi_tgl_selesai" class="form-control" required/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a href="{% url 'timeline_permohonan_unit' id=id %}" class="btn btn-danger">
                <i class="fa fa-chevron-left "></i> Back
            </a>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;" id="save">
                    <i class="fa fa-save "></i> Update
                </button>
            </div>
        </div>
    </div>
    </form>

{% endblock %}