{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/vendor_components/select2/dist/css/select2.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static '/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static '/assets/vendor_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>

        var data_table = null;
        $(function () {
            "use strict";

            $('.select2').select2();

            //Date picker
            $('#expire_date_from').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                disableTouchKeyboard: true
            });

            $('#expire_date_to').datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                disableTouchKeyboard: true
            });

            data_table = $('#quotation_list').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'autoWidth'   : false,
              'processing': true,
              'serverSide': true,
              'ajax': {
                url: "{% url 'quotation_list_ajax' %}",
                data : function(d){
                    d.filter_ref_no = $('#ref_no').val();
                    d.filter_expire_from = $('#expire_date_from').val();
                    d.filter_expire_to = $('#expire_date_to').val();
                    d.filter_sales = $('#sales_name').val();
                    d.filter_status = $('#quotation_status').val();
                }
              },
              'ordering': false
            });

          }); // End of use strict

        $(document).ready(function () {
            $('#filter').click(function () {
                data_table.draw();
            });
        });
    </script>
{% endblock %}

{% block content %}

    {% if request.COOKIES.success_msg %}
        <div class="alert alert-success alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.success_msg }} </div>
    {% endif %}

    {% if request.COOKIES.error_msg %}
        <div class="alert alert-danger alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{ request.COOKIES.error_msg }} </div>
    {% endif %}

    <div class="box">
        <div class="box-header with-border table-responsive">
            <form action="{% url 'quotation_list_download' %}" method="post" target="_blank">
                {% csrf_token %}
                <table class="table editable-table m-b-0 ">
                    <tr>
                        <td>Ref. No: </td>
                        <td><input id="ref_no" name="ref_no"> </td>
                        <td>&nbsp;</td>
                        <td>Expire Date:  </td>
                        <td><input id="expire_date_from" name="expire_date_from"/>  </td>
                        <td>To </td>
                        <td><input id="expire_date_to" name="expire_date_to"/>  </td>
                    </tr>
                    <tr>
                        <td>Sales Name : </td>
                        <td>
                            <select class="select2 w-p100" id="sales_name" name="sales_name">
                                <option value="0">---- Pilih Sales ----</option>
                                {% for sales_name in sales_names %}
                                    <option value="{{ sales_name.username }}">{{ sales_name.first_name }} {{ sales_name.last_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>&nbsp;</td>
                        <td>Status :  </td>
                        <td><select id="quotation_status" name="quotation_status">
                            <option value="0">All</option>
                            {% for key, status in quotation_status.items %}
                                <option value="{{ key }}">{{ status }}</option>
                            {% endfor %}
                        </select>  </td>
                        <td>
                            <button type="button" class="btn btn-success pull-left" id="filter">
                                <i class="fa fa-search"></i>
                                Filter
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-warning pull-left">
                                <i class="fa fa-download"></i>
                                Download
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table id="quotation_list" class="table table-bordered no-wrap" data-page-size="10">
                    <thead>
                    <tr class="bg-secondary">
                        <th style="width: 120px">Ref. No</th>
                        <th style="width: 120px">Type</th>
                        <th style="width: 230px">Customer Name</th>
                        <th style="width: 120px">Created Date</th>
                        <th style="width: 120px">Approval Expired Date</th>
                        <th style="width: 120px">Expired Date</th>
                        <th style="width: 70px">Status</th>
                        <th style="width: 60px">Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{% url 'add_quotation' %}" class="btn btn-blue pull-left">
                <i class="fa fa-file-o"></i>
                Add New Quotation
            </a>
        </div>
    </div>

{% endblock %}