{% extends 'pln/backend/layout/base_layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static '/assets/vendor_components/select2/dist/css/select2.min.css' %}">
{% endblock %}

{% block javascript %}
    <script src="{% static '/assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static '/assets/vendor_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/vendor_plugins/DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static '/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script>

        $(function () {
            "use strict";

            $('#quotation_history_list').DataTable({
              'paging'      : true,
              'lengthChange': false,
              'searching'   : false,
              'autoWidth'   : false,
              'processing': true,
              'serverSide': true,
              'ajax': "{% url 'quotation_history_list_ajax' quotation_id=quotation_detail.id %}",
              'ordering': false
            });

          }); // End of use strict
    </script>
{% endblock %}

{% block content %}

    <div class="box">
        <div class="box-body">
            <div class="table-responsive">
                <table id="quotation_history_list" class="table table-bordered no-wrap" data-page-size="10">
                    <thead>
                    <tr class="bg-secondary">
                        <th style="width: 120px">Rev. Number</th>
                        <th style="width: 120px">Type</th>
                        <th style="width: 230px">Customer Name</th>
                        <th style="width: 120px">Created Date</th>
                        <th style="width: 120px">Approval Expired Date</th>
                        <th style="width: 120px">Expired Date</th>
                        <th style="width: 120px">Update Date</th>
                        <th style="width: 120px">Update By</th>
                        <th style="width: 60px">Action</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="box">
            <!-- /.box-body -->
        <div class="box-footer">
            <a href="{% url 'quotation_detail' id=quotation_detail.id %}" class="btn btn-red">
                <i class="fa fa-chevron-left"></i>
                Back
            </a>
        </div>
    </div>

{% endblock %}