{% extends 'pln/backend/layout/auth_layout.html' %}
{% load  static %}

{% block content %}

    <div class="col-lg-7 col-md-6 col-12">
        <div class="p-20 content-bottom">
            <div class="content-top-agile">
                <h2 class="text-green text-center">Congratulations!!</h2>

                <p class="text-center">Your account has been reset. Please login using your account.</p>

            </div>

            <div class="row">
                <div class="col-6">
                    <div class="checkbox">
                        &nbsp;
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-6">
                    <div class="fog-pwd text-right">
                        &nbsp;
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-12 text-center">
                    <a href="{% url 'signin' %}" class="btn btn-danger btn-block margin-top-10">Sign In</a>
                </div>
                <!-- /.col -->
            </div>

        </div>
    </div>

{% endblock %}